@mixin flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}