@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  /* *>*>*>*{
    outline: 2px solid red;
  } */

  html {
    font-family: "Kumbh Sans", serif;
  }
  .nav-list::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -30px;
    transition: all 0.2s linear;
  }

  .cart {
    visibility: hidden;
    pointer-events: none;
  }

  .show-cart {
    animation: show 0.9s ease;
    visibility: visible;
    pointer-events: all;
  }

  @keyframes show {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}
